<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uc.appstudent24okt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Student App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Adapter.ScheduleAdapter"></activity>
        <activity android:name=".Adapter.EnrollAdaptor"></activity>
        <activity android:name=".Adapter.CourseAdapter" />
        <activity android:name=".Course.CourseData" />
        <activity android:name=".Student.StudentMainActivity" />
        <activity android:name=".Student.StudentData" />
        <activity android:name=".Lecturer.LecturerDetail" />
        <activity android:name=".Lecturer.LecturerAdapter" />
        <activity android:name=".Lecturer.LecturerData" />
        <activity android:name=".Starter" />
        <activity android:name=".Course.AddCourse" />
        <activity android:name=".Lecturer.AddLecturer" />
        <activity android:name=".Student.StudentLogin" />
        <activity android:name=".Student.StudentRegister" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>